.side-nav {
  width: 220px;
  height: 100vh;
  float: left;
}
.side-nav .page-logo {
  margin-top: 0;
  margin-left: 6px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}
.side-nav .page-logo a {
  display: flex;
  text-decoration: none;
}
.side-nav .page-logo .logo-img {
  background-image: url("../../hyperminer/images/HyperMiner_1.svg");
  background-size: contain;
  width: 40px;
  height: 40px;
  position: relative;
  float: left;
}
.side-nav .page-logo .logo-img .logo-img-cover {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(44, 55, 68, 0.2);
}
.side-nav .page-logo .page-title {
  color: #009fb7;
  font-weight: bold;
  font-family: monospace;
  font-size: 26px;
  line-height: 40px;
  float: left;
  margin: 0;
}
.side-nav .page-logo .menu-btn {
  float: right;
  margin: 8px 0 0 16px;
  color: #9B9B9B;
  outline: none !important;
}
.side-nav .nav-menu {
  padding: 32px 0 0 0;
  list-style-type: none;
}
.side-nav .nav-menu .nav-item {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  padding: 0 0 0 20px;
  width: 100%;
  font-size: 14px;
  text-align: left;
  color: #FFFFFF;
}
.side-nav .nav-menu .nav-item .nav-icon {
  margin-right: 4px;
  display: inline-block;
  width: 20px;
  color: #dcdcdc;
}
.side-nav .nav-menu .nav-item a {
  color: #FFFFFF;
  vertical-align: middle;
  box-sizing: border-box;
  text-decoration: none;
}
.side-nav .nav-menu .nav-item:hover {
  background: #292b3a;
}
.side-nav .nav-menu .nav-item.nav-group {
  height: auto;
  min-height: 50px;
  padding: 0;
}
.side-nav .nav-menu .nav-item.nav-group .panel-default {
  border: none;
}
.side-nav .nav-menu .nav-item.nav-group .panel-default .panel-heading {
  background: #2C3744;
  padding: 0 0 0 20px;
}
.side-nav .nav-menu .nav-item.nav-group .panel-default .panel-heading .panel-title {
  font-size: 14px;
  font-family: PingFangSC-Medium, 'Helvetica', 'Arial', sans-serif;
  line-height: 50px;
}
.side-nav .nav-menu .nav-item.nav-group .panel-default .panel-heading .panel-title .title {
  font-weight: normal;
  position: relative;
}
.side-nav .nav-menu .nav-item.nav-group .panel-default .panel-heading .panel-title .title i {
  color: #dcdcdc;
}
.side-nav .nav-menu .nav-item.nav-group .panel-default .panel-heading .panel-title .title .item-collapse {
  position: absolute;
  right: 28px;
  top: 18px;
  color: #9B9B9B;
}
.side-nav .nav-menu .nav-item.nav-group .panel-default .panel-body {
  border: none;
  background: #2C3744;
  padding: 0;
}
.side-nav .nav-menu .nav-item.nav-group .panel-default .panel-body .inner-list {
  list-style: none;
  padding: 0;
}
.side-nav .nav-menu .nav-item.nav-group .panel-default .panel-body .inner-list li {
  line-height: 36px;
  color: #DADADA;
  padding-left: 30px;
  margin-left: 20px;
  position: relative;
}
.side-nav .nav-menu .nav-item.nav-group .panel-default .panel-body .inner-list li:hover a {
  color: #00c1de;
}
.side-nav .nav-menu .nav-item.nav-group:hover .panel-default .panel-heading,
.side-nav .nav-menu .nav-item.nav-group:hover .panel-default .panel-body,
.side-nav .nav-menu .nav-item.nav-group:hover .panel-default .panel-collapse {
  background: #292b3a;
}
.side-nav .nav-menu .nav-item.active-nav {
  background: #00c1de !important;
  position: relative;
}
.side-nav .nav-menu .nav-item.active-nav:after {
  display: block;
  position: absolute;
  top: 12px;
  right: 0;
  content: '';
  border-width: 14px;
  border-style: solid;
  border-color: transparent #FAFAFA transparent transparent;
}
.side-nav .nav-menu .nav-group.active-nav {
  background: #2C3744;
}
.side-nav .nav-menu .nav-group.active-nav .panel-heading {
  background: #00c1de !important;
}
.side-nav .nav-menu .md-button {
  text-transform: none;
  padding: 0;
  margin: 0;
  font-family: PingFangSC-Medium, 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  background: transparent;
}
.side-nav .footer {
  position: absolute;
  left: 16px;
  bottom: 8px;
  height: 20px;
  color: #9B9B9B;
}
.side-nav.nav-collapse {
  width: 64px;
}
.side-nav.nav-collapse .page-logo {
  margin-left: 0;
}
.side-nav.nav-collapse .page-logo a {
  margin: auto;
}
.side-nav.nav-collapse .page-logo .page-title {
  display: none;
}
.side-nav.nav-collapse .page-logo .menu-btn {
  position: absolute;
  top: 46px;
  left: 8px;
}
.side-nav.nav-collapse .nav-menu {
  padding: 48px 0 0 0;
}
.side-nav.nav-collapse .nav-menu .nav-item {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  line-height: 56px;
  height: 56px;
}
.side-nav.nav-collapse .nav-menu .nav-item > a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.side-nav.nav-collapse .nav-menu .nav-item > a > span {
  margin-top: 8px;
  line-height: 12px;
  font-size: 12px;
  text-align: center;
}
.side-nav.nav-collapse .nav-menu .nav-item i {
  font-size: 20px;
}
.side-nav.nav-collapse .nav-menu .nav-group .panel-default .panel-heading .panel-title .title span {
  display: none;
}
.side-nav.nav-collapse .nav-menu .md-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.side-nav.nav-collapse .nav-menu .md-button i {
  line-height: 16px;
}
.side-nav.nav-collapse .nav-menu .md-button span {
  margin-top: 6px;
  line-height: 12px;
  font-size: 12px;
  text-align: center;
}
.side-nav.nav-collapse .footer {
  display: none;
}
